<%- include("./partials/header.ejs") %>

<div class="dashboard-section">

<h2 style="color:white;"><%= dash.title %></h2>

<p class="dashboard-text-light"><%= dash.description %></p>

<!-- IMAGES -->
<% if (dash.images && dash.images.length > 0) { %>
  <h3 style="color:white;">Images</h3>
  <div class="row">
    <% dash.images.forEach(img => { %>
      <div class="col-md-3 mb-3">
        <img src="/uploads/<%= img %>" class="img-fluid rounded">
      </div>
    <% }) %>
  </div>
<% } %>

<!-- TAGS -->
<% if (dash.tags && dash.tags.length > 0) { %>
  <h3 style="color:white;">Tags</h3>
  <p class="tag-item"><%= dash.tags.join(", ") %></p>
<% } %>

<!-- ABILITIES -->
<% if (dash.abilities && dash.abilities.length > 0) { %>
  <h3 style="color:white;">Abilities</h3>
  <ul>
    <% dash.abilities.forEach(a => { %>
      <li class="ability-item"><%= a %></li>
    <% }) %>
  </ul>
<% } %>

<!-- COLORS -->
<% if (dash.colors && dash.colors.length > 0) { %>
  <h3 style="color:white;">Colors</h3>
  <p class="color-item"><%= dash.colors.join(", ") %></p>
<% } %>

<hr>

<a href="/dashboards/edit/<%= dash._id %>" class="btn btn-warning">Edit</a>
<a href="/dashboards/delete/<%= dash._id %>" class="btn btn-danger">Delete</a>

</div>

<%- include("./partials/footer.ejs") %>
