<%- include("./partials/header.ejs") %>

<h2><%= dash.title %></h2>

<p><%= dash.description %></p>

<!-- IMAGES (only show if images exist) -->
<% if (dash.images && dash.images.length > 0) { %>
  <h3>Images</h3>
  <div class="row">
    <% dash.images.forEach(img => { %>
      <div class="col-md-3 mb-3">
        <img src="/uploads/<%= img %>" class="img-fluid rounded">
      </div>
    <% }) %>
  </div>
<% } %>

<!-- TAGS -->
<% if (dash.tags && dash.tags.length > 0) { %>
  <h3>Tags</h3>
  <p><%= dash.tags.join(", ") %></p>
<% } %>

<!-- ABILITIES -->
<% if (dash.abilities && dash.abilities.length > 0) { %>
  <h3>Abilities</h3>
  <ul>
    <% dash.abilities.forEach(a => { %>
      <li><%= a %></li>
    <% }) %>
  </ul>
<% } %>

<!-- COLORS -->
<% if (dash.colors && dash.colors.length > 0) { %>
  <h3>Colors</h3>
  <p><%= dash.colors.join(", ") %></p>
<% } %>

<hr>

<a href="/dashboards/edit/<%= dash._id %>" class="btn btn-warning">Edit</a>

<form action="/dashboards/delete/<%= dash._id %>" method="POST" style="display:inline;">
  <button class="btn btn-danger">Delete</button>
</form>

<%- include("./partials/footer.ejs") %>
